name: Deploy
on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  workflow_dispatch:
concurrency:
  group: deploy-${{ github.sha }}
  cancel-in-progress: false

jobs:
  deploy-RestCountries:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && 
       github.event.workflow_run.conclusion == 'success' && 
       github.event.workflow_run.event == 'push' &&
       startsWith(github.event.workflow_run.head_branch, 'refs/tags/v'))
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x
      
      - name: Restore dependencies
        run: dotnet restore src/MaksimShimshon.RestCountries/RestCountries.csproj
      
      - name: Build RestCountries
        run: dotnet build src/MaksimShimshon.RestCountries/RestCountries.csproj -c Release --no-restore
      
      - name: Pack RestCountries
        run: dotnet pack src/MaksimShimshon.RestCountries/RestCountries.csproj -c Release --no-build -o ./artifacts

      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Push RestCountries
        run: dotnet nuget push ./artifacts/MaksimShimshon.RestCountries.*.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json --skip-duplicate
      
      - name: Get package version
        id: get_version
        run: |
          FILE=$(ls ./artifacts/*.nupkg | head -n1)
          VERSION=$(basename "$FILE" | sed -E 's/MaksimShimshon.RestCountries\.([0-9]+\.[0-9]+\.[0-9]+)\.nupkg/\1/')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Wait for NuGet availability
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 5
          retry_wait_seconds: 10
          max_attempts: 30
          command: |
            body=$(curl -s --compressed \
              -H "Accept: application/json" \
              "https://api.nuget.org/v3/registration5-gz-semver2/maksimshimshon.restcountries/3.3.4.json" \
              | tr -d '\000')

            echo "$body" | head -c 5 | grep -q "<?xml" && exit 1
            echo "$body" | grep -q '"@type"' || exit 1


  deploy-RestCountries-Data:
    needs: deploy-RestCountries
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && 
       github.event.workflow_run.conclusion == 'success' && 
       github.event.workflow_run.event == 'push' &&
       startsWith(github.event.workflow_run.head_branch, 'refs/tags/v'))
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x
      
      - name: Restore dependencies
        run: dotnet restore src/MaksimShimshon.RestCountries.Data/RestCountries.Data.csproj
      
      - name: Build RestCountries.Data
        run: dotnet build src/MaksimShimshon.RestCountries.Data/RestCountries.Data.csproj -c Release --no-restore
      
      - name: Pack RestCountries.Data
        run: dotnet pack src/MaksimShimshon.RestCountries.Data/RestCountries.Data.csproj -c Release --no-build -o ./artifacts

      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Push RestCountries.Data
        run: dotnet nuget push ./artifacts/MaksimShimshon.RestCountries.Data.*.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json --skip-duplicate

  deploy-RestCountries-Embedded:
    needs: deploy-RestCountries
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && 
       github.event.workflow_run.conclusion == 'success' && 
       github.event.workflow_run.event == 'push' &&
       startsWith(github.event.workflow_run.head_branch, 'refs/tags/v'))
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x
      
      - name: Restore dependencies
        run: dotnet restore src/MaksimShimshon.RestCountries.Embedded/RestCountries.Embedded.csproj
      
      - name: Build RestCountries.Embedded
        run: dotnet build src/MaksimShimshon.RestCountries.Embedded/RestCountries.Embedded.csproj -c Release --no-restore
      
      - name: Pack RestCountries.Embedded
        run: dotnet pack src/MaksimShimshon.RestCountries.Embedded/RestCountries.Embedded.csproj -c Release --no-build -o ./artifacts
      
      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Push RestCountries.Embedded
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: dotnet nuget push ./artifacts/MaksimShimshon.RestCountries.Embedded.*.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json --skip-duplicate
